<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSS_2</title>
    <meta name="description" content="Tally Light System">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">                <!-- Nacitanie CSS suboru pre Bootstrap z lokalneho disku -->
    <link id="switchStyle" rel="stylesheet" href="{{ url_for('static', filename='css/nightStyle.css') }}">  <!-- Nacitanie vlastnej editacie CSS z lokalneho disku, denna a nocna verzia-->

    <script type="text/javascript">                                             //Skript na zmenu CSS suboru z dennej verzie na nocu
      function swapStyleSheet(sheet){
        document.getElementById('switchStyle').setAttribute('href', sheet);     //Zmena cesty CSS suboru pre nacitanie
    }
    </script>

</head>

<body>

  <div class="container">

      <div class="row">
          <div class="col-md-12" >               <!-- Kontajner pre zobrazovanie stavu kamery 1 -->
              <div class="thumbnail bot-pad alert-success" id='Teplota_thm'>

                  <h1> Teplota:   n/a C <br>  <span class="label" id='Teplota'></span> </h1>     <!-- Nazov kamery a jej stitok s textovym oznacenim stavu -->
              </div>
          </div>
          <div class="col-md-12" >               <!-- Kontajner pre zobrazovanie stavu kamery 1 -->
              <div class="thumbnail bot-pad alert-default" id='Vlhkost_thm'>
                  <h1> Vlhkost:   n/a C <br>  <span class="label" id='Vlhkost'></span> </h1>     <!-- Nazov kamery a jej stitok s textovym oznacenim stavu -->
              </div>
          </div>

          <div class="col-md-12">               <!-- Kontajner pre zobrazovanie stavu kamery 2 -->
              <div class="thumbnail bot-pad alert-danger"  id='Ventilator_thm'>
                  <h1> Ventilator:   rpm <br>  <span class="label" id='Ventilator'></span></h1>     <!-- Nazov kamery a jej stitok s textovym oznacenim stavu -->
              </div>
          </div>

          <div class="col-md-12" >               <!-- Kontajner pre zobrazovanie stavu kamery 3 -->
              <div class="thumbnail bot-pad  alert-info" id='Auta_thm'>
                  <h1> Aktualny pocet aut:   0 z 20 <br>  <span class="label" id='Auta'></span></h1>     <!-- Nazov kamery a jej stitok s textovym oznacenim stavu -->
              </div>
          </div>

          <div class="col-md-12" >               <!-- Kontajner pre zobrazovanie stavu kamery 4 -->
              <div class="thumbnail bot-pad " id='Button_thm'>
                  <h1> Tlacidla <br>  <span class="label" id='Button'></span></h1>     <!-- Nazov kamery a jej stitok s textovym oznacenim stavu -->
              </div>
          </div>
</div>
</div>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    <!-- Nacitanie JavaScript suboru jQuery pre interakciu stranky z lokalneho disku -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>       <!-- Nacitanie JavaScript suboru Bootstrap pre interakciu stranky z lokalneho disku -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>           <!-- Nacitanie JavaScript suboru Socket.io pre komunikaciu z lokalneho disku -->

    <script>                                                                    //skript pre dynamickost a komunikaciu stranky
        $(document).ready(function () {                                         //cakanie na pripravenost stranky pre manipulaciu

            var socket = io.connect();                                          //prepojenie klient-server pomocou Socket.io

            socket.on('connect', function (e) {                                 //cakanie na udalost 'connect', prijojenie sa ku serveru
                socket.emit('refresh', "User has connected - MAIN PAGE, refersh data!");    //odosielanie udalosti serveru pre zaslanie aktualneho stavu kamier pri prvom pripojeny
                console.log('CONNECTED');
            });
                socket.on('Teplota', function (e) {                            //cakanie na udalost 'kamera_1', zmena stavu kamery 1
                    console.log("Teplota:", e.value, " C");
                    $(Teplota_thm).text((('Teplota: ').concat(e.value)).concat(' C'));
                });

                socket.on('Vlhkost', function (e) {                            //cakanie na udalost 'kamera_2', zmena stavu kamery 2
                    console.log("Vlhkost:", e.value, " %");
                    $(Vlhkost_thm).text((('Vlhkost: ').concat(e.value)).concat(' %'));
                });

                socket.on('Ventilator', function (e) {                            //cakanie na udalost 'kamera_2', zmena stavu kamery 2
                    console.log("Ventilator:", e.value, " RPM");
                    $(Ventilator_thm).text((('Ventilator: ').concat(e.value)).concat(' RPM'));
                });

                socket.on('Auta', function (e) {                            //cakanie na udalost 'kamera_2', zmena stavu kamery 2
                    console.log("Pocet aut:", e.act,"/",e.max);
                    $(Auta_thm).text(((('Aktualny pocet aut: ').concat(e.act)).concat('/')).concat(e.max));
                });

                  });

    </script>


</body>
</html>
